<div class="container mt-3">
    <h4>{{nombreLocalActual}}</h4>
    <nav class="mt-4 border-0">
        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
            <a class="nav-item nav-link text-success" id="nav-pedidos-tab" href="/comerciante/locales/pedidos"
                role="tab" aria-controls="nav-home" aria-selected="false"><i class="far fa-clipboard"></i> Pedidos</a>
            <a class="nav-item nav-link text-success" id="nav-buzon-tab" href="/comerciante/locales/buzon" role="tab"
                aria-controls="nav-profile" aria-selected="false"><i class="far fa-envelope"></i>
                Buzón</a>
            <a class="nav-item nav-link text-success active" id="nav-ajustes-tab" href="/comerciante/locales/ajustes"
                role="tab" aria-controls="nav-profile" aria-selected="true"><i class="fas fa-cog"></i>
                Ajustes</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade active show pb-3" id="nav-content" role="tabpanel">


            <div class="accordion " id="accordionLocalesAjustes">
                <div class="card">
                    <div class="" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                                type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                <div class="d-flex justify-content-between">
                                    <b class="" style="font-size: 15px;">Actualizar productos <span
                                            class="badge badge-success badge-pill ml-1">{{cantProductos}}</span></b>
                                    <div class=""><i class="fas fa-angle-down"></i></div>
                                </div>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordionLocalesAjustes">
                        <div class="card-body " style="background-color: rgb(250, 250, 250);">
                            <a href="/comerciante/locales/agregarProductoLocal" style="font-size: 20px;"
                                class="btn btn-outline-success">
                                <i class="fas fa-plus"></i> <i class="fas fa-apple-alt"></i>
                            </a>
                            <div class="row">
                                {{#each rowsProductosLocal}}
                                <div class="col-sm-12 col-lg-4 col-md-6 col-xl-3 p-2">
                                    <div class="card p-3 mt-4 shadow border-0 ">
                                        <img src="{{rutaImagen}}" width="70px" height="70px"
                                            class="align-self-start mr-3" alt="...">
                                        <div class="media-body">
                                            <div class="card-title">
                                                <h5>{{nombreProducto}}</h5>

                                                <form action="/comerciante/locales/actualizarProductoLocal"
                                                    method="POST" id="form-producto-local">
                                                    <input type="hidden" name="idProductoLocal"
                                                        value="{{pkIdProductoLocal}}">
                                                    <div class="card-text">
                                                        <div class="form-group">

                                                            <textarea name="detallesProductoLocal"
                                                                id="detallesProductoLocal"
                                                                class="form-control input-producto-local"
                                                                form="form-producto-local"
                                                                cols="1">{{detallesProductoLocal}}</textarea>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <a href="/comerciante/locales/local/borrarProducto/{{pkIdProductoLocal}}"
                                                            class="btn btn-danger" data-toggle="tooltip"
                                                            data-placement="bottom" title="Borrar producto"><i
                                                                class="far fa-trash-alt"></i></a>
                                                        <button type="submit" class="btn btn-success"
                                                            id="btn-input-producto-local" style="font-size: auto;"
                                                            data-toggle="tooltip" data-placement="bottom"
                                                            title="Guardar cambios"><i class="fas fa-save"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div>
                                                <h5>Presentaciones ({{cantPresentaciones}})</h5>
                                                <div>
                                                    <a href="/comerciante/locales/infoPresentacion"
                                                        class="btn btn-light" data-toggle="tooltip"
                                                        data-placement="bottom" title="¿Qué son las presentaciones?"><i
                                                            class="far fa-question-circle"></i>
                                                    </a>
                                                    <a href="/comerciante/locales/agregarPresentacionProductoLocal/{{pkIdProductoLocal}}"
                                                        class="btn btn-light" data-toggle="tooltip"
                                                        data-placement="bottom" title="Nueva presentación"><i
                                                            class="fas fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            {{#each presentaciones}}
                                            <div class="card m-3 p-3 border-dark">
                                                <form action="/comerciante/locales/actualizarPresentacionProducto"
                                                    method="POST">
                                                    <input type="hidden" name="idPresentacionProducto"
                                                        value="{{pkIdPresentacionProducto}}">
                                                    <div class="mr-2 form-group">
                                                        <label for="nombrePresentacion"><small><b>Nombre
                                                                    presentación</b></small></label>
                                                        <input class="form-control input-presentacion-producto-local"
                                                            type="text" value="{{nombrePresentacion}}"
                                                            name="nombrePresentacion" id="nombrePresentacion" style="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="precioUnitario"><small><b>Precio Unitario
                                                                    $:</b></small></label>
                                                        <input class="form-control input-presentacion-producto-local"
                                                            type="number" step="50"
                                                            value="{{precioUnitarioPresentacion}}" name="precioUnitario"
                                                            id="precioUnitario">
                                                    </div>
                                                    <div class="form-group">
                                                        <label
                                                            for="detallesPresentacion"><small><b>Detalles:</b></small></label>
                                                        <input class="form-control input-presentacion-producto-local"
                                                            type="text" value="{{detallesPresentacionProducto}}"
                                                            name="detallesPresentacion" id="detallesPresentacion">
                                                    </div>
                                                    <div>
                                                        <a href="/comerciante/locales/local/borrarPresentacionProducto/{{pkIdPresentacionProducto}}"
                                                            class="btn btn-danger" data-toggle="tooltip"
                                                            data-placement="bottom" title="Borrar presentacion"><i
                                                                class="far fa-trash-alt"></i></a>

                                                        <button type="submit" class="btn btn-success"
                                                            id="btn-input-presentacion-producto-local"
                                                            style="font-size: auto;"><i class="fas fa-save"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                title="Guardar cambios"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                            {{else}}
                                            <div class="mt-2 col-12">
                                                Aún no hay presentaciones para este producto. <a
                                                    href="/comerciante/locales/agregarPresentacionProductoLocal/{{pkIdProductoLocal}}">Agregar
                                                    presentación.</a>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                                {{else}}


                                <div>Aún no hay productos para este local. <a
                                        href="/comerciante/locales/agregarProductoLocal">Agregar producto.</a>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                                type="
                                    button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                <div class="d-flex justify-content-between">
                                    <b class="" style="font-size: 15px;">Actualizar datos del local</b>
                                    <div class=""><i class="fas fa-angle-down"></i></div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                        data-parent="#accordionLocalesAjustes">
                        <div class="card-body">
                            <div class="border-top-0">
                                <div class="container">
                                    <form method="POST" action="/comerciante/locales/actualizarDatos" class=""
                                        name="form" id="form">
                                        {{#each rowsDatosLocal}}
                                        <div class="form-group">
                                            <label for="idlocal">ID Local en Cenabastos</label>
                                            <input class="form-control" type="text" value="{{idLocalEnCenabastos}}"
                                                name="idlocal" id="idlocal">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">¿Cómo se llama el local?</label>
                                            <input class="form-control" type="text" value="{{nombreLocal}}" name="name"
                                                id="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="descripcion">Descripcion al público</label>
                                            <textarea name="descripcion" id="descripcion" class="form-control"
                                                form="form">{{descripcionLocal}}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="domicilio">Precio del domicilio</label>
                                            <input class="form-control" type="number" step="50"
                                                value="{{precioDomicilio}}" name="domicilio" id="domicilio">
                                        </div>
                                        {{/each}}
                                        <button type="submit" class="btn btn-success mt-3"><i class="fas fa-check"></i>
                                            Actualizar datos</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>




        </div>
















    </div>
</div>
<script>
    $(".list-group").on("mouseleave blur scroll wheel", function () {
        $("#listadoLocalesCollapse1").removeClass("show");
    });

    $(".input-producto-local").on("input", function () {
        $("#btn-input-producto-local").removeClass("btn-success").addClass("btn-warning");
    });

    $(".input-presentacion-producto-local").on("input", function () {
        $("#btn-input-presentacion-producto-local").removeClass("btn-success").addClass("btn-warning");
    });

</script>
{{>navegacionComerciante}}