<div class="container mt-3">
    <h4>Chorizos</h4>
    <nav class="mt-4 border-0">
        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
            <a class="nav-item nav-link text-success" id="nav-pedidos-tab" href="/comerciante/locales/pedidos"
                role="tab" aria-controls="nav-home" aria-selected="false"><i class="far fa-clipboard"></i> Pedidos</a>
            <a class="nav-item nav-link text-success" id="nav-buzon-tab" href="/comerciante/locales/buzon" role="tab"
                aria-controls="nav-profile" aria-selected="false"><i class="far fa-envelope"></i>
                Buzón</a>
            <a class="nav-item nav-link text-success active" id="nav-ajustes-tab" href="/comerciante/locales/ajustes"
                role="tab" aria-controls="nav-profile" aria-selected="true"><i class="fas fa-cog"></i>
                Ajustes</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade active show pb-3" id="nav-content" role="tabpanel">


            <div class="accordion " id="accordionLocalesAjustes">
                <div class="card">
                    <div class="" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                                type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                <div class="d-flex justify-content-between">
                                    <b class="" style="font-size: 15px;">Actualizar productos</b>
                                    <div class=""><i class="fas fa-angle-down"></i></div>
                                </div>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordionLocalesAjustes">
                        <div class="card-body" style="background-color: rgb(250, 250, 250);">
                            <a href="/comerciante/locales/local/agregarProductoLocal" class="btn btn-outline-success"
                                data-toggle="tooltip" data-placement="bottom" title="Agregar producto"
                                style="font-size: 20px;"><i class="fas fa-plus"></i> <i
                                    class="fas fa-apple-alt"></i></a>

                            {{#each rowsProductosLocal}}
                            <div class="card p-3 mt-4 shadow border-0">
                                <img src="{{rutaImagen}}" width="70px" height="70px" class="align-self-start mr-3"
                                    alt="...">
                                <div class="media-body">
                                    <div class="card-title">
                                        <h5>{{nombreProducto}}</h5>
                                        <div>
                                            <a href="/comerciante/locales/local/borrarProducto/{{pkIdProductoLocal}}"
                                                class="btn btn-danger" data-toggle="tooltip" data-placement="bottom"
                                                title="Borrar producto"><i class="far fa-trash-alt"></i></a>

                                            <a href="/comerciante/locales/local/editarProducto/{{pkIdProductoLocal}}"
                                                class="btn btn-warning" data-toggle="tooltip" data-placement="bottom"
                                                title="Editar producto"><i class="fas fa-pencil-alt"></i></a>
                                        </div>
                                    </div>

                                    <div class="card-text">
                                        Detalles:
                                        <br>{{detallesProductoLocal}}</div>
                                    <br>
                                    <div>
                                        <h5>Presentaciones</h5>
                                        <div>
                                            <a href="/comerciante/locales/infoPresentacion" class="btn btn-light"
                                                data-toggle="tooltip" data-placement="bottom"
                                                title="¿Qué son las presentaciones?"><i
                                                    class="far fa-question-circle"></i>
                                            </a>
                                            <a href="/comerciante/locales/agregarPresentacionProductoLocal"
                                                class="btn btn-light" data-toggle="tooltip" data-placement="bottom"
                                                title="Nueva presentación"><i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    {{#each presentaciones}}
                                    <div class="card m-3 p-3 border-secondary">
                                        - {{nombrePresentacion}}
                                        <br>
                                        - Precio Unitario: ${{precioUnitarioPresentacion}}
                                        <br>
                                        - Detalles: {{detallesPresentacionProducto}}
                                        <div>
                                            <a href="/comerciante/locales/local/borrarPresentacionProducto/{{pkIdPresentacionProducto}}"
                                                class="btn btn-danger" data-toggle="tooltip" data-placement="bottom"
                                                title="Borrar presentacion"><i class="far fa-trash-alt"></i></a>

                                            <a href="/comerciante/locales/local/editarPresentacionProducto/{{pkIdPresentacionProducto}}"
                                                class="btn btn-warning" data-toggle="tooltip" data-placement="bottom"
                                                title="Editar presentacion"><i class="fas fa-pencil-alt"></i></a>
                                        </div>
                                    </div>
                                    {{else}}
                                    Aún no hay presentaciones para este producto. <a
                                        href="/comerciante/locales/agregarPresentacionProductoLocal">Agregar
                                        presentación.</a>
                                    {{/each}}
                                </div>
                            </div>
                            {{else}}
                            Aún no hay productos para este local. <a
                                href="/comerciante/locales/local/agregarProductoLocal">Agregar producto.</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                                type="
                                    button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                <div class="d-flex justify-content-between">
                                    <b class="" style="font-size: 15px;">Actualizar datos del local</b>
                                    <div class=""><i class="fas fa-angle-down"></i></div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                        data-parent="#accordionLocalesAjustes">
                        <div class="card-body">
                            <div class="border-top-0">
                                <div class="container">
                                    <form method="POST" action="/comerciante/locales/actualizarDatos" class=""
                                        name="form" id="form">
                                        {{#each rowsDatosLocal}}
                                        <div class="form-group">
                                            <label for="idlocal">ID Local en Cenabastos</label>
                                            <input class="form-control" type="text" value="{{idLocalEnCenabastos}}"
                                                name="idlocal" id="idlocal">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">¿Cómo se llama el local?</label>
                                            <input class="form-control" type="text" value="{{nombreLocal}}" name="name"
                                                id="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="descripcion">Descripcion al público</label>
                                            <textarea name="descripcion" id="descripcion" class="form-control"
                                                form="form">{{descripcionLocal}}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="domicilio">Precio del domicilio</label>
                                            <input class="form-control" type="number" step="50"
                                                value="{{precioDomicilio}}" name="domicilio" id="domicilio">
                                        </div>
                                        {{/each}}
                                        <button type="submit" class="btn btn-success mt-3"><i class="fas fa-check"></i>
                                            Actualizar datos</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>




        </div>
















    </div>
</div>

{{>navegacionComerciante}}