<div class="container pt-1">

    <h3>{{nombreLocalActual}}</h3>
    <br>
    <h4>Pedido #{{rowDatos.pkIdVenta}}</h4>



    <div class="row">
        <div class="col-12 p-2">
            <div class="card col-12">
                <div class="table-responsive-lg" style="border-top: 0;">
                    <!--Para encerrar la tabla responsive-->
                    <table class="table b-0">
                        <thead>
                            <tr >
                                <th scope="col">Producto</th>
                                <th scope="col">Tipo Presentacion</th>
                                <th scope="col">Precio Unitario</th>
                                <th scope="col">Precio total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each rowsItemVenta}}
                            <tr>
                                <th scope="row">{{nombreProducto}}</th>
                                <td>{{nombrePresentacionItemVenta}}</td>
                                <td>${{precioUnitarioItem}} x {{cantidadItem}}</td>
                                <td>${{totalItemVenta}}</td>
                            </tr>
                            </tr>
                            {{else}}
                            <tr>
                                <td>No hay Pedidos</td>
                            </tr>
                            {{/each}}

                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td><b>Valor Domicilio</b></td>
                                <td>${{rowDatos.precioDomicilioVenta}}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td><b>Valor Total</b></td>
                                <td class="text-success"><b>${{rowDatos.montoTotal}}</b></td>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-lg-6 col-sm-12 p-2">

            <div class="card p-3">
                <h4>Estado del Pedido</h4>
                <label for="">  </label>
                <label for="">  </label>
                <label for="">  </label>
                <label for="">  </label>
            </div>

            
        </div>
        <div class="col-lg-6 col-sm-12 p-2">


            <div class="card p-3">
                <h4>Informaci贸n de Orden</h4>
                <label for=""><i class="fas fa-user"></i> {{rowDatos.nombresPersonaNatural}} {{rowDatos.apellidosPersonaNatural}}</label>
                <label for=""><i class="far fa-envelope"></i> {{rowDatos.correoUsuario}}</label>
                <label for=""><i class="fas fa-mobile-alt"></i> {{rowDatos.telefonoCliente}}</label>
                <label for=""><i class="far fa-calendar-check"></i> {{rowDatos.fechaHoraVenta}}</label>
            </div>


           
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-lg-6 col-sm-12 p-2">
            <div class="card p-3">
                <h4>Informaci贸n de Pago</h4>
                <label for="">  </label>
                <label for="">  </label>
                <label for="">  </label>
                <label for="">  </label>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12 p-2">
             <div class="card p-3">
                <h4>Direcci贸n de Envio</h4>
                <label for="">Direcci贸n: {{rowDatos.direccionCliente}}</label>
                <label for="">Departamento: Norte de Santander</label>
                <label for="">Codigo Postal: 57</label>
                <label for="">Pais: Colombia</label>
            </div>
        </div>
    </div>


</div>

{{>navegacionComerciante}}