<div class="container pt-3">
    <a href="/comerciante/locales/crearLocal" style="font-size: 20px;" class="btn btn-outline-success"
        data-toggle="tooltip" data-placement="bottom" title="Crear local"><i class="fas fa-plus"></i> <i
            class="fas fa-store"></i></a>
    <br> <br>
    <div class="accordion shadow" id="listadoLocalesAcordion1">
        <div class="card">
            <div class="" id="listadoLocalesCabecera1">
                <h2 class="mb-0">
                    <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                        type="button" data-toggle="collapse" data-target="#listadoLocalesCollapse1" aria-expanded="true"
                        aria-controls="listadoLocalesCollapse1">
                        <h4> Locales <i class="fas fa-caret-down"></i></h4>
                    </button>
                </h2>
            </div>

            <div id="listadoLocalesCollapse1" class="collapse show" aria-labelledby="listadoLocalesCabecera1"
                data-parent="#listadoLocalesAcordion1">
                <div class="card-body">
                    <div class="list-group">
                        {{#each rowsLocalesImprimibles}}
                        <a href="/comerciante/locales/listadoLocales/{{pkIdLocalComercial}}"
                            class="list-group-item list-group-item-action"><i class="fas fa-store"></i> {{nombreLocal}}
                            <small class="text-muted">({{mayoMino}})</small></a>
                        {{else}}
                        No hay locales creados.<a href="/comerciante/crearLocal" class=""> Crea uno</a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        {{#each primerLocal}}
        <div class="card shadow mt-3 mr-auto ml-auto" style="max-width: 650px;">

            <img src="{{rutaImagen}}" class="card-img-top" alt="Img de local">
            <div class="card-body">
                <h5 class="card-title">Nombre del local: {{nombreLocal}}</h5>
                <p class="card-text">Descripción al público: {{descripcionLocal}}</p>
                <a href="/comerciante/locales/local/{{pkIdLocalComercial}}" class="btn btn-success">Ver local <i
                        class="fas fa-angle-right"></i></a>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    Calificación promedio: {{calificacionPromedio}} <br>
                    Cantidad de personas que han calificado el local: {{calificacionContadorCliente}} <br>
                    ID local en Cenabastos: {{idLocalEnCenabastos}} <br>
                    Total vendido: ${{totalVendido}} <br>
                    Parcial vendido desde el último cierre de caja: ${{parcialVendido}}
                </small>
            </div>
        </div>
        {{else}}


        {{/each}}
    </div>

</div>


{{>navegacionComerciante}}