<div class="container mt-3">
    <h4>{{nombreLocalActual}}</h4>
    <nav class="mt-4 border-0">
        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
            <a class="nav-item nav-link text-success active" id="nav-pedidos-tab" href="/comerciante/locales/pedidos"
                role="tab" aria-controls="nav-home" aria-selected="true"><i class="far fa-clipboard"></i> Pedidos</a>
            <a class="nav-item nav-link text-success " id="nav-buzon-tab" href="/comerciante/locales/buscarFechas" role="tab"
                aria-controls="nav-profile" aria-selected="false"><i class="fas fa-calendar-alt"></i> Buscar por Fechas</a>
            <a class="nav-item nav-link text-success" id="nav-ajustes-tab" href="/comerciante/locales/ajustes"
                role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-cog"></i>
                Ajustes</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade active show pb-3" id="nav-content" role="tabpanel">

            <div class="accordion " id="accordionLocalesAjustes">
                <div class="card">
                    <div class="" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                                type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                <div class="d-flex justify-content-between">
                                    <b class="" style="font-size: 15px;"><i class="fas fa-shopping-cart"></i> Nuevos pedidos (sin atender) <span
                                            class="badge badge-primary badge-pill ml-1">{{totalRowsNuevosPedidos}}</span></b>
                                    <div class=""><i class="fas fa-angle-down"></i></div>
                                </div>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionLocalesAjustes">
                        <div class="card-body " style="background-color: rgb(230, 244, 250);">


                            <div class="container pt-1">

                                <div class="table-responsive-lg mt-1 pt-1">
                                    <!--Para encerrar la tabla responsive-->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID Pedido</th>
                                                <th scope="col">Cliente</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each rowsNuevosPedidos}}
                                            <tr>
                                                <th scope="row">{{pkIdVenta}}</th>
                                                <td>{{nombresPersonaNatural}} {{apellidosPersonaNatural}}</td>
                                                <td>${{montoTotal}}</td>
                                                <td>
                                                    <a href="/comerciante/locales/pedido/{{pkIdVenta}}"
                                                        class="btn btn-primary p-0 pr-2 pl-2" style="font-size: 20px;"
                                                        data-toggle="tooltip" title="Ver pedido"><i
                                                            class="fas fa-eye"></i>
                                                    </a>
                                                    <a href="/comerciante/locales/pedidos/moverAEmpacado/{{pkIdVenta}}"
                                                        class="btn btn-danger p-0 pr-2 pl-2" style="font-size: 20px;">
                                                        <i class="fas fa-chevron-circle-down" data-toggle="tooltip"
                                                            title="Mover a Empacados"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                            {{else}}
                                            <tr>
                                                <td>No hay Nuevos Pedidos</td>
                                            </tr>
                                            {{/each}}



                                        </tbody>
                                    </table>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                                type="
                                    button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                <div class="d-flex justify-content-between">
                                    <b class="" style="font-size: 15px;"><i class="fas fa-box"></i> Empacados (sin enviar) <span
                                            class="badge badge-danger badge-pill ml-1">{{totalRowsPedidosEmpacados}}</span></b>
                                    <div class=""><i class="fas fa-angle-down"></i></div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                        data-parent="#accordionLocalesAjustes" style="background-color: rgb(250, 230, 230);">
                        <div class="card-body">


                            <div class="container pt-1">

                                <div class="table-responsive-lg mt-1 pt-1">
                                    <!--Para encerrar la tabla responsive-->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID Pedido</th>
                                                <th scope="col">Cliente</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each rowsPedidosEmpacados}}
                                            <tr>
                                                <th scope="row">{{pkIdVenta}}</th>
                                                <td>{{nombresPersonaNatural}} {{apellidosPersonaNatural}}</td>
                                                <td>${{montoTotal}}</td>
                                                <td><a href="/comerciante/locales/pedidos/moverANuevos/{{pkIdVenta}}" class="btn btn-primary p-0 pr-2 pl-2"
                                                        style="font-size: 20px;"> <i class="fas fa-chevron-circle-up"
                                                            data-toggle="tooltip" title="Mover a Nuevos"></i>
                                                    </a>
                                                    <a href="/comerciante/locales/pedido/{{pkIdVenta}}"
                                                        class="btn btn-danger p-0 pr-2 pl-2" style="font-size: 20px;"
                                                        data-toggle="tooltip" title="Ver pedido"><i
                                                            class="fas fa-eye"></i>
                                                    </a>
                                                    <a href="/comerciante/locales/pedidos/moverAEnviados/{{pkIdVenta}}" class="btn btn-warning p-0 pr-2 pl-2"
                                                        style="font-size: 20px;"> <i class="fas fa-chevron-circle-down"
                                                            data-toggle="tooltip" title="Mover a Enviado"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                            {{else}}
                                            <tr>
                                                <td>No hay Pedidos Empacados (sin enviar)</td>
                                            </tr>
                                            {{/each}}



                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                                type="
                                    button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                <div class="d-flex justify-content-between">
                                    <b class="" style="font-size: 15px;"><i class="fas fa-truck"></i> Enviados (en camino) <span
                                            class="badge badge-warning badge-pill ml-1">{{totalRowsPedidosEnviados}}</span></b>
                                    <div class=""><i class="fas fa-angle-down"></i></div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionLocalesAjustes" style="background-color: rgb(250, 249, 230);">
                        <div class="card-body">


                            <div class="container pt-1">

                                <div class="table-responsive-lg mt-1 pt-1">
                                    <!--Para encerrar la tabla responsive-->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID Pedido</th>
                                                <th scope="col">Cliente</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each rowsPedidosEnviados}}
                                            <tr>
                                                <th scope="row">{{pkIdVenta}}</th>
                                                <td>{{nombresPersonaNatural}} {{apellidosPersonaNatural}}</td>
                                                <td>${{montoTotal}}</td>
                                                <td>
                                                    <a href="/comerciante/locales/pedidos/devolverAEmpacado/{{pkIdVenta}}" class="btn btn-danger p-0 pr-2 pl-2"
                                                        style="font-size: 20px;"> <i class="fas fa-chevron-circle-up"
                                                            data-toggle="tooltip" title="Mover a Empacado"></i>
                                                    </a>
                                                    <a href="/comerciante/locales/pedido/{{pkIdVenta}}"
                                                        class="btn btn-warning p-0 pr-2 pl-2" style="font-size: 20px;"
                                                        data-toggle="tooltip" title="Ver pedido"><i
                                                            class="fas fa-eye"></i>
                                                    </a>
                                                    <a href="/comerciante/locales/pedidos/moverAEntregado/{{pkIdVenta}}" class="btn btn-success p-0 pr-2 pl-2"
                                                        style="font-size: 20px;"> <i class="fas fa-chevron-circle-down"
                                                            data-toggle="tooltip" title="Mover a Recibidos"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {{else}}
                                            <tr>
                                                <td>No hay Pedidos Enviados (en camino)</td>
                                            </tr>
                                            {{/each}}



                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-light text-dark text-decoration-none btn-block text-left"
                                type="
                                    button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                <div class="d-flex justify-content-between">
                                    <b class="" style="font-size: 15px;"><i class="fas fa-dollar-sign"></i> Entregados (recibidos y pagos) <span
                                            class="badge badge-success badge-pill ml-1">{{totalRowsPedidosEntregados}}</span></b>
                                    <div class=""><i class="fas fa-angle-down"></i></div>
                                </div>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionLocalesAjustes" style="background-color: rgb(230, 250, 234);">
                        <div class="card-body">


                            <div class="container pt-1">

                                <div class="table-responsive-lg mt-1 pt-1">
                                    <!--Para encerrar la tabla responsive-->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID Pedido</th>
                                                <th scope="col">Cliente</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each rowsPedidosEntregados}}
                                            <tr>
                                                <th scope="row">{{pkIdVenta}}</th>
                                                <td>{{nombresPersonaNatural}} {{apellidosPersonaNatural}}</td>
                                                <td>${{montoTotal}}</td>
                                                <td> <a href="/comerciante/locales/pedidos/devolerAEnviado/{{pkIdVenta}}" class="btn btn-warning p-0 pr-2 pl-2"
                                                        style="font-size: 20px;"> <i class="fas fa-chevron-circle-up"
                                                            data-toggle="tooltip" title="Mover a Enviados"></i>
                                                    </a>
                                                    <a href="/comerciante/locales/pedido/{{pkIdVenta}}"
                                                        class="btn btn-success p-0 pr-2 pl-2" style="font-size: 20px;"
                                                        data-toggle="tooltip" title="Ver pedido"><i
                                                            class="fas fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {{else}}
                                            <tr>
                                                <td>No hay Pedidos Recibidos y pagos</td>
                                            </tr>
                                            {{/each}}



                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{>navegacionComerciante}}