{{>navegacionCliente}}
<style>
    * {
        transition: 0.2s;
    }


    .tab.active {
        border-bottom: rgb(2, 184, 117) 5px solid;
    }

    .card:hover .card-img-top {
        border-bottom: rgb(2, 184, 117) 18px solid;
    }

    .categoria-de-producto:hover .img-categoria-producto {
        transform: scale(1.6);
    }

    .hide {
        display: none;
    }

    .categoria-seleccionada {
        color: rgb(2, 184, 117);
    }

    .categoria-seleccionada div img {
        transform: scale(1.6);
    }
</style>
<div class="app-main__outer">
    <div class="container mt-4">
        <h2 class="">Explorar</h2>
        <div class="mt-4 tabs d-flex w-100" style="overflow-x: auto;">
            <a class="tab text-dark px-3 active" style="text-decoration:none;"
                href="/cliente/explorar/listadoLocalesMinoristas">
                <b>Minoristas</b>
            </a>
            <a class="tab text-dark px-3" style="text-decoration:none;"
                href="/cliente/explorar/listadoLocalesMayoristas">
                <b>Mayoristas</b>
            </a>
        </div>
        <br>
        <div class="border-0 p-3">

            <div class="row">

                <div class="col-12"><i class="fas fa-filter"></i> Filtrar por</div>
                <div class="container-categorias col-12 mt-3 mb-4 pr-5 d-flex" style="overflow-x: auto;"
                    id="container-categorias">

                    <div class="categoria-de-producto btn btn-outline-secondary text-nowrap mx-2" id="0">
                        Ver todos
                    </div>
                    {{#each rowsCategorias}}

                    <div class="categoria-de-producto btn btn-outline-secondary text-nowrap mx-2"
                        id="{{pkIdCategoriaProducto}}">
                        {{descripcionCategoriaProducto}}
                    </div>

                    {{else}}
                    Error grave
                    {{/each}}


                </div>
                <div class="spinner-border text-success cargando-categorias hide" id="cargando-categorias"
                    role="status">
                    <span class="sr-only">Cargando...</span>
                </div>

                <div class="container-productos row w-100 mx-auto" id="container-productos">
                    {{#each rowsLocalesMinoristas}}
                    <div class="col-xs-12 col-md-6 col-lg-4 p-1 local" id="{{pkIdLocalComercial}}" categorias="1-2-3">
                        <a href="/cliente/explorar/local/{{pkIdLocalComercial}}" class="card shadow text-dark"
                            style="border-radius: 0.8em;text-decoration:none; ">
                            <img src="{{rutaImagen}}" class="card-img-top" alt="..."
                                style="border-radius: 0.8em; max-height: 400px;border-bottom: rgb(2, 184, 117) 8px solid;">
                            <div class="card-body">
                                <b class="card-title">{{nombreLocal}}</b>
                                <div class="row row-col-2 justify-content-between">
                                    <div class="text-success col">
                                        <i class="fas fa-truck"></i> ${{precioDomicilio}}
                                    </div>
                                    <div class="text-warning col">
                                        <i class="fas fa-star"></i> {{calificacionPromedio}} <small
                                            style="color:rgb(168, 168, 168); font-size:17px;"> <i
                                                class="far fa-user"></i>
                                            {{calificacionContadorCliente}}</small>
                                    </div>
                                </div>
                                <div class="card-text" style="overflow-x: auto; max-height: 100px;min-height: 30px;">
                                    {{descripcionLocal}}
                                </div>
                                <div class="btn btn-light w-100 mt-2">Ver <i class="fas fa-angle-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{else}}
                    No hay locales creados.
                    {{/each}}
                </div>


            </div>
        </div>

        <script>
            //variables del documento
            const arrayLocales = {{{ jsonLocales }}};
            $("#container-categorias").on("click", ".categoria-de-producto", function () {
                $(this).removeClass("btn-secondary btn-outline-secondary");
                $(this).siblings().removeClass("btn-secondary btn-outline-secondary");
                $(this).addClass("btn-secondary");
                $(this).siblings().addClass("btn-outline-secondary");

                const categoriaSeleccionada = $(this).attr("id");
                console.log("la categoria seleccionada es ", categoriaSeleccionada);

                //filtrar locales
                let localesFiltrados = [];
                if (categoriaSeleccionada == 0) {
                    localesFiltrados = arrayLocales;
                }
                else {
                    localesFiltrados = arrayLocales.filter(function (local) {
                        let aceptado = false;
                        const arrayCategorias = local.categorias.split("-");
                        for (let index = 0; index < arrayCategorias.length; index++) {
                            if (arrayCategorias[index] == categoriaSeleccionada) {
                                aceptado = true;
                                break;
                            }
                        }
                        return aceptado;
                    });
                }

                $("#cargando-categorias").removeClass("hide");
                let container = document.getElementById("container-productos");
                container.innerHTML = "";
                localesFiltrados.map(function (local) {
                    let col = document.createElement("div");
                    col.setAttribute("class", "col-xs-12 col-md-6 col-lg-4 p-1 local");
                    col.setAttribute("id", local.id);
                    col.setAttribute("categorias", local.categorias);

                    let acard = document.createElement("a");
                    acard.setAttribute("href", local.ruta);
                    acard.setAttribute("class", "card shadow text-dark");
                    acard.setAttribute("style", "border-radius: 0.8em;text-decoration:none;");
                    acard.setAttribute("href", local.ruta);

                    let portada = document.createElement("img");
                    portada.setAttribute("href", local.ruta);
                    portada.setAttribute("src", local.portada);
                    portada.setAttribute("class", "card-img-top");
                    portada.setAttribute("alt", local.nombre);
                    portada.setAttribute("style", "border-radius: 0.8em; max-height: 400px;border-bottom: rgb(2, 184, 117) 8px solid;");

                    let cardBody = document.createElement("div");
                    cardBody.setAttribute("class", "card-body");

                    let cardTitle = document.createElement("b");
                    cardTitle.setAttribute("class", "card-title");
                    cardTitle.innerHTML = "" + local.nombre;

                    let colinfo = document.createElement("div");
                    colinfo.setAttribute("class", "row row-col-2 justify-content-between");

                    let domicilio = document.createElement("div");
                    domicilio.setAttribute("class", "text-success col");
                    domicilio.innerHTML = '<i class="fas fa-truck"></i> $' + local.domicilio;

                    let rating = document.createElement("div");
                    rating.setAttribute("class", "text-warning col");
                    rating.innerHTML = '<i class="fas fa-star"></i> ' + local.estrellas + '<small style="color:rgb(168, 168, 168); font-size:17px;"> <i class="far fa-user"></i> ' + local.calificadores + '</small>';

                    let descripcion = document.createElement("div");
                    descripcion.setAttribute("class", "card-text");
                    descripcion.setAttribute("style", "overflow-x: auto; max-height: 100px;min-height: 30px;");
                    descripcion.innerHTML = local.descripcion;

                    let btn = document.createElement("div");
                    btn.setAttribute("class", "btn btn-light w-100 mt-2");
                    btn.innerHTML = 'Explorar <i class="fas fa-angle-right"></i>';

                    //append
                    colinfo.appendChild(domicilio);
                    colinfo.appendChild(rating);

                    cardBody.appendChild(cardTitle);
                    cardBody.appendChild(colinfo);
                    cardBody.appendChild(descripcion);
                    cardBody.appendChild(btn);

                    acard.appendChild(portada);
                    acard.appendChild(cardBody);

                    col.appendChild(acard);
                    container.appendChild(col);
                    $("#cargando-categorias").addClass("hide");

                });
                $("#cargando-categorias").addClass("hide");

            })
        </script>


    </div>

</div>