<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        transition: 0.2s;
    }

    /*Variables*/

    :root {
        /*Longitudes*/
        --header-height: 70px;
        --nav-bar-height: 50px;
        --icon-size: 30px;
        --nav-icon-size: 25px;
        --banner-height: 150px;
        --stories-space-height: 150px;
        --storie-height: 60px;
        --product-height: 100px;
        --product-width: 150px;
        /*Colores*/
        --mega-green: rgb(2, 184, 117);
        --mega-orange: rgb(240, 173, 78);
        --white: rgb(255, 255, 255);
    }

    /* ----------- Mobile First------------------*/

    body {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header {
        width: 100%;
        height: var(--header-height);
        background-color: var(--white);
        position: fixed;
        top: 0;
        box-shadow: 2px 26px 28px -6px rgba(0, 0, 0, 0.05);
        display: flex;
        z-index: 75000;
        align-items: center;
        border-bottom: 5px solid var(--mega-orange);
    }

    .header .title {
        align-self: flex-start;
        height: 100%;
        min-width: 20px;
        display: flex;
    }

    .header .search-icon {
        width: var(--icon-size);
        height: var(--icon-size);
        background-image: url("../icons/search.svg");
        background-repeat: no-repeat, repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: 20px;
    }

    .no-header {
        width: 100%;
        min-height: 90vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .banner {
        width: 100%;
        margin-top: var(--header-height);
        position: relative;
        z-index: 1;
        box-shadow: inset -18px -157px 103px -169px rgba(0, 0, 0, 0.51);
        flex: 0 0 var(--banner-height);
    }

    .banner .state {
        position: absolute;
        bottom: 0;
        left: 5px;
        color: white;

        font-size: 20px;
        z-index: 5000;
    }

    .banner img {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2500;
    }

    .seller-space {
        width: 100%;
        min-height: 200px;
        margin-bottom: var(--nav-bar-height);
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 50000;
        background-color: white;
    }

    .stories-space {
        min-width: 100%;
        height: var(--stories-space-height);
        display: flex;
        padding: 5px;
        overflow-x: auto;
        overflow-y: hidden;
        padding-left: 30px;
    }

    .stories-space .storie {
        width: var(--storie-height);
        height: var(--storie-height);
        border-radius: 100%;
        border: 3px solid var(--mega-green);
        overflow: hidden;
        cursor: pointer;
        margin-right: 10px;
        flex: 0 0 var(--storie-height)
    }

    .storie img {
        width: 200%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .stories-space::-webkit-scrollbar {
        height: 10px;
    }


    /*.stories-space::-webkit-scrollbar-track {}*/

    .stories-space::-webkit-scrollbar-thumb {
        background: rgb(245, 245, 245);
        height: 3px;
        border-radius: 5px;
    }

    .seller-space .title {

        color: var(--mega-green);
        width: 100%;
        font-size: 20px;
        padding-left: 10px;
    }

    .seller-space .store-data {
        width: 100%;
        min-height: 60px;
        padding-top: 5px;
        font-size: 12px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 5px;
    }

    .delivery {
        width: 100%;
        height: 15px;
        display: flex;
        color: var(--mega-green);
    }

    .delivery .delivery-icon {
        background-image: url("../icons/truck.png");
        background-repeat: no-repeat, repeat;
        background-size: cover;
        height: 15px;
        width: 15px;
        margin-left: 5px;
    }

    .seller-info {
        width: 100%;
        display: flex;
        max-height: 150px;
        overflow-y: auto;
        margin-bottom: 30px;
    }

    .seller-info::-webkit-scrollbar {
        width: 3px;
        background: var(--mega-orange);
    }

    .score {
        width: 100%;
        height: 15px;
        display: flex;
        position: absolute;
        bottom: 0;
        margin-bottom: 5px;
    }

    .score .score-icon {
        width: 15px;
        height: 15px;
        background-image: url("../icons/star.png");
        background-repeat: no-repeat, repeat;
        background-size: cover;
    }

    .score .score-value {

        color: var(--mega-orange);
        display: flex;
        align-items: flex-end;
    }

    .seller-space .store-products {
        width: 100%;
        min-height: 100px;
    }

    .store-products .products {
        width: 100%;
        min-height: var(--product-height);
        display: flex;
        flex-wrap: wrap;
    }

    .product {
        flex: 0 0 var(--product-width);
        height: var(--product-height);
        box-shadow: 11px 26px 33px 3px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        overflow: hidden;
        margin-right: 15px;
        margin-bottom: 15px;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
    }

    .producto {
        width: 150px;
        height: 100px;
        overflow: hidden;
        display: flex;
        border-radius: 15px;
    }

    .producto .informacion {
        height: 50%;
        width: 50%;
        color: white;
        font-size: 15px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: flex;
        align-items: flex-end;
    }

    .producto .imagen {
        position: absolute;
        top: 0;
        width: 100px;
        height: 100px;
    }

    .producto .imagen img {
        width: 100%;
        height: 100%;
        transform: scale(1.2) translateX(50%);
    }

    .store-products .products .product:hover {
        transform: scale(1.1);
    }

    .product .product-img {
        position: absolute;
        right: 70px;
    }

    .product .product-img img {
        width: var(--product-height);
        height: var(--product-height);
        transform: scale(1.2) translateX(50%);
    }

    .product .product-info {
        height: 50%;
        width: 50%;
        color: white;
        font-size: 15px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: flex;
        align-items: flex-end;
    }
</style>

<header class="header" style="overflow: auto;">
    <div class="title p-2">
        <h4>{{rowsLocalesMayoristas.nombreLocal}}</h4>
    </div>
</header>

<div class="no-header">
    <div class="banner">
        <div class="state"></div>
        <img src="{{rowsLocalesMayoristas.rutaImagen}}" class="img-banner">
    </div>
    <div class="seller-space">
        <div class="title">
            <h4>Informacion</h4>
        </div>

        <div class="justify-content-start">
            <div id="stories" class="storiesWrapper stories"></div>
        </div>


        <div class="store-data">

            {{{rowsLocalesMayoristas.textoEstaAbierto}}}

            <div class="text-success" style="font-size: 1.5em;">
                <i class="fas fa-truck"></i> ${{rowsLocalesMayoristas.precioDomicilio}}
            </div>
            <div class="text-warning" style="font-size: 1.5em;">
                <i class="fas fa-star"></i> {{rowsLocalesMayoristas.calificacionPromedio}} <small style="color:rgb(168, 168, 168); font-size:17px;">  <i class="far fa-user"></i> {{rowsLocalesMayoristas.calificacionContadorCliente}}</small>
            </div>
            <div class="seller-info mt-2" style="font-size: 1.8em;">
                {{rowsLocalesMayoristas.descripcionLocal}}
            </div>
        </div>

        <div class="store-products">
            <div class="title">
                <h4>Alimentos</h4>
            </div>


            <div class="products">
                <div class="container">
                    <div class="row pt-3">

                        {{#each rowsProductoLocal}}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 pb-3 pl-3 pr-3 pt-0">
                            <a href="/cliente/explorar/productoLocal/{{pkIdProductoLocal}}-{{pkIdPresentacionProducto}}"
                                class="product mx-auto" style="{{cssPropertiesBg}}">
                                <div class="product-img"><img src="{{rutaImagen}}" alt="{{nombreProducto}}"></div>
                                <div class="product-info">
                                    <b>
                                        - {{nombrePresentacion}}
                                        <br>
                                        /${{precioUnitarioPresentacion}}
                                        <br>
                                        <small>{{nombreProducto}}</small>
                                    </b></div>
                            </a>
                        </div>
                        {{else}}
                        Este local no cuenta con ningun producto.
                        {{/each}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




{{>navegacionCliente}}