<div class="container pt-4">

    <h2>Pedidos</h2>
    <nav class="mt-4 border-0">
        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
            <a class="nav-item nav-link text-success active" id="nav-pedidos-tab" href="/cliente/pedidos/carrito"
                role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-shopping-cart"></i> Carrito</a>
            <a class="nav-item nav-link text-success" id="nav-buzon-tab" href="/cliente/pedidos/historial" role="tab"
                aria-controls="nav-profile" aria-selected="false">
                <i class="fas fa-shopping-bag"></i> Mis compras </a>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade active show pb-3 pt-3" id="nav-content" role="tabpanel">
            {{#if rowsItemCarrito}}
                <div class="mt-1">Comprando en: <a class="text-success" href="/cliente/explorar/local/{{local.id}}"> {{local.nombre}}</a></div>        
            {{/if}}
            
            <div class="row mt-2">  
                {{#each rowsItemCarrito}}
                <div class="col-md-6 col-lg-4 p-2">
                    <div class="card shadow" style="border-radius: 10px;">
                        <div class="container p-3">
                            <form action="/cliente/pedidos/carrito/actualizarItemCarrito" method="post" name="formActCarrito"
                                id="formActCarrito{{{pkIdItemCarrito}}}">
                                <input type="hidden" name="item" value="{{{pkIdItemCarrito}}}">
                                <div class="foto-producto">
                                    <img  src="{{rutaImagen}}" alt="" style="width: 100px; height: 100px;">
                                </div>
                                <div class="titulo-producto-y-presentacion">
                                    <div>
                                        {{nombreProducto}} - {{nombrePresentacion}}
                                    </div>
                                </div>
                                <div class="cantidad-y-precio mt-2">
                                    <input style="border: 1px solid rgb(199, 199, 199); width: 100px;" type="number" min="0" step="1"
                                        name="cant" id="cant{{pkIdItemCarrito}}" value="{{cantidadItem}}">
                                    <small style="font-size: 18px;" class="precioCalculado text-success"
                                        id="precio{{pkIdItemCarrito}}">${{precioInicialCalculado}}</small>
                                    <script>
                                        const precioUnitario{{{ pkIdItemCarrito }}}= {{{ precioUnitarioPresentacion }}};
                                        $("#cant{{{pkIdItemCarrito}}}").on("change input load keyup readystatechange", function () {
                                            var cant = $(this).val();
                                            var precio = cant * precioUnitario{{{ pkIdItemCarrito }}};
                                            $("#precio{{{pkIdItemCarrito}}}").html("$" + precio);
                                        });
                                    </script>
                                </div>
                                <div class="detalles mt-2">
                                    <textarea placeholder="Detalles" name="detalles" id="detalles{{pkIdItemCarrito}}" class="form-control"
                                        form="formActCarrito{{{pkIdItemCarrito}}}">{{detallesCarrito}}</textarea>
                                </div>
                                <div class="botones mt-2">
                                    <button type="submit" class="btn btn-link text-success" style="font-size: 15px;"><i class="fas fa-save"></i> Guardar cambios</button>
                                    <a style="font-size: 15px;" href="/cliente/pedidos/carrito/borrarItemCarrito/{{pkIdItemCarrito}}" class="card-link text-warning" data-toggle="tooltip" data-placement="bottom" title="Borrar producto"><i class="far fa-trash-alt"></i> Eliminar</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                {{else}}
                No hay items en el carrito. Explora los locales de Cenabastos
                {{/each}}
            </div>
            {{#if rowsItemCarrito}}
                    <h5 class="text-success mt-3">Subtotal: ${{montoTotal}}</h5> 
                    <a href="/cliente/pedidos/precomprar" class="btn btn-success mt-2" style=""><i class="fas fa-shopping-bag"></i> Comprar</a>
                    <a href="/cliente/pedidos/carrito/vaciarCarrito" class="btn btn-outline-warning mt-2" style=""><i class="far fa-trash-alt"></i> Vaciar carrito</a>
            {{/if}}
        </div>
    </div>
</div>

{{>navegacionCliente}}